<?xml version='1.0' encoding='utf-8'?>
<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD//EN"
        "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
    <session-factory>
        <property name="connection.url">jdbc:mysql://localhost:3306/demo_angular_spring</property>
        <property name="connection.driver_class">com.mysql.jdbc.Driver</property>
        <!-- DB schema will be updated if needed -->
        <!--<property name="hbm2ddl.auto">update</property>-->
        <mapping class="cn.com.cookie.sysuser.entity.AppUserEntity"/>
        <mapping class="cn.com.cookie.sysuser.entity.ResourceEntity"/>
        <mapping class="cn.com.cookie.sysuser.entity.RoleEntity"/>
        <mapping class="cn.com.cookie.sysuser.entity.UserRole"/>
        <mapping class="cn.com.cookie.sysuser.entity.RoleRes"/>
        <mapping class="cn.com.cookie.sysuser.AppUserEntity"/>
        <mapping class="cn.com.cookie.sysuser.ResourceEntity"/>
        <mapping class="cn.com.cookie.sysuser.RoleEntity"/>
        <mapping class="cn.com.cookie.sysuser.RoleResEntity"/>
        <mapping class="cn.com.cookie.sysuser.UserRoleEntity"/>
    </session-factory>
</hibernate-configuration>