<div layout="row" class="ss-menu">
    <md-sidenav md-component-id="left" md-is-locked-open="$mdMedia('gt-md')" class="md-sidenav-left ss-nav-left">
        <header class="ss-nav-header">
                <img src="www/img/d-1-1.png" alt="">
                <h1 class="docs-logotype md-heading">Angular Material</h1>
        </header>
        <md-content flex layout-padding>

        </md-content>
    </md-sidenav>
    <div layout="column" flex>
    <md-toolbar md-scroll-shrink="true">
        <div class="md-toolbar-tools">
            <span>My App's Title</span>
            <!-- fill up the space between left and right area -->
            <span flex></span>
            <md-button ng-click="openLeftMenu()">
                Right Bar Button
            </md-button>
        </div>
    </md-toolbar>
    <md-content flex layout-padding>
            <p>1</p><p>1</p><p>1</p><p>1</p><p>1</p><p>1</p><p>1</p><p>1</p><p>1</p><p>1</p><p>1</p><p>1</p><p>1</p><p>1</p><p>1</p><p>1</p><p>1</p><p>1</p><p>1</p><p>1</p><p>1</p><p>1</p><p>1</p><p>1</p><p>1</p><p>1</p><p>1</p><p>1</p><p>1</p><p>1</p><p>1</p><p>1</p><p>1</p><p>1</p><p>1</p><p>1</p><p>1</p><p>1</p><p>1</p><p>1</p>
    </md-content>
        <div layout="row" class="ss-menu-footer">
            <span>botton botton botton botton</span>
        </div>
    </div>
</div>

