<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="off" monitorInterval="1800">

    <properties>
        <property name="LOG_HOME">logs</property>
        <property name="ERROR_FILE_NAME">errorlog</property>
        <property name="CONSOLE_FILE_NAME">consolelog</property>
    </properties>

    <Appenders>
        <Console name="Console" target="SYSTEM_OUT" >
            <PatternLayout pattern="%d{HH:mm:ss.SSS} [%t] %-5level %logger{36} - %msg%n" />
        </Console>
        <!--error log-->
        <RollingRandomAccessFile name="error-log"
                                 fileName="${LOG_HOME}/${ERROR_FILE_NAME}.log" filePattern="${LOG_HOME}/$${date:yyyy-MM}/${ERROR_FILE_NAME}-%d{yyyy-MM-dd}-%i.log.gz">
            <ThresholdFilter level="error" onMatch="ACCEPT" onMismatch="DENY"/>
            <PatternLayout
                    pattern="%date{yyyy-MM-dd HH:mm:ss.SSS} %level [%thread][%file:%line] - %msg%n" />
            <Policies>
                <TimeBasedTriggeringPolicy />
                <SizeBasedTriggeringPolicy size="10 MB" />
            </Policies>
            <DefaultRolloverStrategy max="20" />
        </RollingRandomAccessFile>
        <!--console log-->
        <File name="console-log" append="false" fileName="${LOG_HOME}/${CONSOLE_FILE_NAME}.log">
            <PatternLayout
                    pattern="%date{yyyy-MM-dd HH:mm:ss.SSS} %level [%thread][%file:%line] - %msg%n" />
        </File>

    </Appenders>
    <Loggers>
        <!--level 优先级从高到低依次为：OFF、FATAL、ERROR、WARN、INFO、DEBUG、TRACE、 ALL-->
        <Logger name="cn.com.cookie.console" level="trace" additivity="true">
            <AppenderRef ref="console-log" />
        </Logger>
        <Logger name="cn.com.cookie.error" level="error" additivity="true">
            <AppenderRef ref="error-log" />
        </Logger>
        <Root level="error">
            <AppenderRef ref="Console" />
        </Root>
    </Loggers>
</Configuration>